<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <title>Course Run List</title>
</h:head>
<h:body>

    <ui:include src="/menubar.xhtml"/>

    <b:container layout="fluid">
        <h:form>

            <b:row>
                <b:column medium-screen="12">
                    <h1>Course Run List</h1>
                </b:column>
            </b:row>

            <b:row>
                <b:column medium-screen="12">
                    <b:commandButton look="success" value="New Course Run" action="#{courseRunController.createCourseRun()}"
                                     icon="ui-icon-plus"/>
                </b:column>
            </b:row>

            <b:row style="margin-top: 20px;">
                <b:column medium-screen="12">

                    <b:dataTable value="#{courseRunController.findCourseRuns()}" var="courseRun"
                                 page-length="5" page-length-menu="5,10,20">
                        <b:dataTableColumn value="#{courseRun.start}"/>
                        <b:dataTableColumn value="#{courseRun.end}"/>
                        <b:dataTableColumn value="#{courseRun.location}"/>
                        <b:dataTableColumn value="#{courseRun.comment}"/>
                        <b:dataTableColumn label="Actions">
                            <b:commandButton value="Edit" action="#{courseRunController.editCourseRun(courseRun.id)}"
                                             icon="ui-icon-pencil" style="margin-right: 10px;"/>
                            <b:commandButton update="@form" value="Delete" look="danger"
                                             action="#{courseRunController.deleteCourseRun(courseRun.id)}" icon="ui-icon-trash"/>
                        </b:dataTableColumn>
                    </b:dataTable>

                </b:column>
            </b:row>

        </h:form>
    </b:container>

</h:body>
</html>
