<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <title>Course Run</title>
</h:head>
<h:body>

    <ui:include src="/menubar.xhtml"/>

    <b:container layout="fluid">
        <h:form>

            <b:row>
                <b:column medium-screen="12">
                    <h1>Manage Course Run</h1>
                </b:column>
            </b:row>

            <b:row>
                <b:column medium-screen="12">
                    <h3>Attributes</h3>
                </b:column>
            </b:row>

            <b:row>
                <b:column medium-screen="12">

                    <b:panelGrid colSpans="2,3,7">
                        <h:outputLabel style="margin-bottom: 25px;" value="Startdate:" for="start"/>
                        <b:dateTimePicker id="start" value="#{courseRunController.courseRun.start}"
                                          iconAwesome="clock-o" required="true"
                                          requiredMessage="Startdate is mandatory"/>
                        <h:message for="start" style="color:red"/>
                        <h:outputLabel style="margin-bottom: 25px;" value="Enddate:" for="end"/>
                        <b:dateTimePicker id="end" value="#{courseRunController.courseRun.end}"
                                          iconAwesome="clock-o" required="true"
                                          requiredMessage="Enddate is mandatory"/>
                        <h:message for="end" style="color:red"/>
                        <h:outputLabel value="Location:" for="location"/>
                        <b:inputText id="location" value="#{courseRunController.courseRun.location}"
                                     required="true"
                                     requiredMessage="Location is mandatory"/>
                        <h:message for="location" style="color:red"/>
                        <h:outputLabel value="Comment:" for="comment"/>
                        <b:inputText id="comment" value="#{courseRunController.courseRun.comment}"/>
                        <h:outputLabel></h:outputLabel>
                        <h:outputLabel value="Course:" for="course"/>
                        <b:selectOneMenu id="course" value="#{courseRunController.courseRun.course}">
                            <f:selectItems value="#{courseController.findCourses()}" var="course" itemLabel="#{course.name}" itemValue="#{course}"/>
                        </b:selectOneMenu>
                        <h:outputLabel></h:outputLabel>
                    </b:panelGrid>

                </b:column>
            </b:row>

            <b:row>
                <b:column medium-screen="12">
                    <h3>Employees</h3>
                </b:column>
            </b:row>

            <b:row>
                <b:column medium-screen="4">
                    <h:selectOneMenu value="#{courseRunController.selectedEmployee}">
                        <f:selectItems value="#{employeeController.findEmployees()}" var="employee" itemLabel="#{employee.firstName} #{employee.lastName}" itemValue="#{employee.id}"/>
                        <f:ajax render="result" />
                    </h:selectOneMenu>
                </b:column>
                <b:column medium-screen="2">
                    <b:commandButton look="success" value="Add" icon="ui-icon-plus"
                                     action="#{courseRunController.addEmployee()}" immediate="true"/>
                </b:column>
                <b:column medium-screen="12" style="margin-top: 20px;">
                    <b:dataTable value="#{courseRunController.courseRun.employees}" var="employee"
                                 page-length="5" page-length-menu="5,10,20">
                        <b:dataTableColumn value="#{employee.firstName} #{employee.lastName}"/>
                        <b:dataTableColumn label="Actions">
                            <b:commandButton update="@form" value="Delete" look="danger" immediate="true"
                                             action="#{courseRunController.deleteEmployee(employee.id)}" icon="ui-icon-trash"/>
                        </b:dataTableColumn>
                    </b:dataTable>
                </b:column>
            </b:row>

            <b:row style="margin-bottom: 20px;">
                <b:column medium-screen="12">
                    <b:commandButton look="success" value="Save Course Run" action="#{courseRunController.saveCourseRun()}"/>
                </b:column>
            </b:row>

        </h:form>
    </b:container>

</h:body>
</html>
