<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <title>Course</title>
</h:head>
<h:body>

    <ui:include src="/menubar.xhtml"/>

    <b:container layout="fluid">
        <h:form>

            <b:row>
                <b:column medium-screen="12">
                    <h1>Manage Course</h1>
                </b:column>
            </b:row>

            <b:row>
                <b:column medium-screen="12">
                    <h3>Attributes</h3>
                </b:column>
            </b:row>

            <b:row>
                <b:column medium-screen="12">

                    <b:panelGrid colSpans="2,2,8">
                        <h:outputLabel value="Name:" for="name"/>
                        <b:inputText id="name" value="#{courseController.course.name}" title="Name" required="true"
                                     requiredMessage="Name is mandatory"/>
                        <h:message for="name" style="color:red"/>
                        <h:outputLabel value="Description:" for="description"/>
                        <b:inputText id="description" value="#{courseController.course.description}"
                                     title="Description"/>
                    </b:panelGrid>

                </b:column>
            </b:row>

            <b:row>
                <b:column medium-screen="12">
                    <h3>Skills</h3>
                </b:column>
            </b:row>

            <b:row>
                <b:column medium-screen="4">
                    <h:selectOneMenu value="#{courseController.selectedSkill}">
                        <f:selectItems value="#{skillController.findSkills()}" var="skill" itemLabel="#{skill.name}" itemValue="#{skill.id}"/>
                        <f:ajax render="result" />
                    </h:selectOneMenu>
                </b:column>
                <b:column medium-screen="2">
                    <b:commandButton look="success" value="Add" icon="ui-icon-plus"
                                     action="#{courseController.addSkill()}" immediate="true"/>
                </b:column>
                <b:column medium-screen="12" style="margin-top: 20px;">
                    <b:dataTable value="#{courseController.course.skills}" var="skill"
                                 page-length="5" page-length-menu="5,10,20">
                        <b:dataTableColumn value="#{skill.name}"/>
                        <b:dataTableColumn label="Actions">
                            <b:commandButton update="@form" value="Delete" look="danger" immediate="true"
                                             action="#{courseController.deleteSkill(skill.id)}" icon="ui-icon-trash"/>
                        </b:dataTableColumn>
                    </b:dataTable>
                </b:column>
            </b:row>

            <b:row style="margin-bottom: 20px;">
                <b:column medium-screen="12">
                    <b:commandButton look="success" value="Save Course" action="#{courseController.saveCourse()}"/>
                </b:column>
            </b:row>

        </h:form>
    </b:container>

</h:body>
</html>
