<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
<h:head>
    <title>Home</title>
</h:head>
<h:body>

    <ui:include src="/menubar.xhtml"/>

    <b:container layout="fluid">
        <b:row>
            <b:column medium-screen="12">
                <h1>Welcome to the Training	Management System</h1>
            </b:column>
        </b:row>
    </b:container>

</h:body>
</html>
