<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:b="http://bootsfaces.net/ui">

    <h:form>
        <b:navBar brand="TMS">
            <b:navbarLinks>
                <b:navLink value="Courses" outcome="courseList"/>
                <b:navLink value="Runs" outcome="courseRunList"/>
            </b:navbarLinks>
        </b:navBar>
    </h:form>

</ui:composition>